<!DOCTYPE html>
<html lang="en">


<head>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="./static/logic.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.css"> -->



    <title>Hockey Project Worksheet</title>

</head>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">894</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Predictive Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">APIs</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <img src="../static/894 Banner 2.png" class="img-fluid" alt="Responsive image">
            <div data-type="countup" data-id="154727" class="tickcounter"
                style="width: 100%; position: relative; padding-bottom: 25%"><a
                    href="//www.tickcounter.com/countup/154727/wayne-gretzky-record-unbroken-since"
                    title="Wayne Gretzky's career goalrecord unbroken since...">Wayne Gretzky record unbroken
                    since...</a><a href="" title="Countup">Countup</a></div>
            <script>(function (d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col">
                <iframe
                    src='https://www.nhl.com/video/embed/memories-gretzky-pots-802nd-goal/t-277350912/c-50562703?autostart=false'
                    width='540' height='360'></iframe>


            </div>
            <div class="col">
                <H3> The Record</H3>
                <p>Wayne Gretzky Bio
                    Every superlative has been used, many strung together, to describe the otherwordly talent of Wayne
                    Gretzky, who commonly is regarded as the greatest hockey player ever.
                    Based purely on statistics, there is no argument -- the man is without peer, nor will he have one in
                    the foreseeable future. He owns many records from the ranks of peewee hockey to the NHL, sitting
                    atop every meaningful offensive category, often miles ahead of the players ranked second.</p>
                <p> Bio Source: www.nhl.com</p>
                <img src="../static/yellow Arrow down.png" style="width:125px;height:150px;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <h3> Compare top players' performance with Wayne Gretzky</h3>
                <p>Individual Player's progress</p>
                <select id="selPlayer"></select>
                <hr>
                <p>Ovechkin is considered by many as the greatest goal scorer in NHL history,[95] with what some
                    consider a real chance at overtaking Wayne Gretzky in total career goals (894).</p>
                <p> <img src="../static/ovechkin.png" style="float:left;width:300px;height:500;"> </p>

            </div>
            <div class="col">
                <hr>
                <div id="myDiv">
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <div id="myDiv2">
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
            <div class="col">
                <hr>
                <h3> Explore historical statistics of NHL players</h3>
                <p>Use the dropdown menu to explore different metrics</p>

                <img src="../static/downleft arrow.png" style="width:125px;height:150px;">


                <H5>
                    <div id="hoverinfo" style="margin-left:80px;"></div>
                </H5>

            </div>

        </div>


    </div>


    <!-- <div id="myDiv">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div> -->
    </div>


</body>